            {%- if site.email -%}
            <a href="mailto:{{ site.email | encode_email }}" title="email"><i class="fas fa-envelope" style="font-size: 0.6em;"></i></a>
            {% endif %}
            {%- if site.telegram_username -%}
            <a href="https://telegram.me/{{ site.telegram_username }}" title="telegram"><i class="fab fa-telegram"></i></a>
            {% endif %}
            {%- if site.whatsapp_number -%}
            <a href="https://wa.me/{{ site.whatsapp_number }}" title="whatsapp"><i class="fab fa-whatsapp"></i></a>
            {% endif %}
            {%- if site.orcid_id -%}
            <a href="https://orcid.org/{{ site.orcid_id }}" title="ORCID"><i class="ai ai-orcid"></i></a>
            {% endif %}
            {%- if site.scholar_userid -%}
            <a href="https://scholar.google.com/citations?user={{ site.scholar_userid }}" title="Google Scholar"><i class="ai ai-google-scholar"></i></a>
            {% endif %}
            {%- if site.semanticscholar_id -%}
            <a href="https://www.semanticscholar.org/author/{{ site.semanticscholar_id }}" title="Semantic Scholar"><i class="ai ai-semantic-scholar"></i></a>
            {% endif %}
            {%- if site.publons_id -%}
            <a href="https://publons.com/a/{{ site.publons_id }}/" title="Publons"><i class="ai ai-publons"></i></a>
            {% endif %}
            {%- if site.osf_id -%}
            <a href="https://osf.io/{{ site.osf_id }}/" title="Open Science Framework"><i class="ai ai-osf"></i></a>
            {% endif %}
            {%- if site.research_gate_profile -%}
            <a href="https://www.researchgate.net/profile/{{site.research_gate_profile}}/" title="ResearchGate"><i class="ai ai-researchgate"></i></a>
            {% endif %}
            {%- if site.github_username -%}
            <a href="https://github.com/{{ site.github_username }}" title="GitHub"><i class="fab fa-github" style="font-size: 0.6em;"></i></a>
            {% endif %}
            {%- if site.linkedin_username -%}
            <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" title="LinkedIn"><i class="fab fa-linkedin"></i></a>
            {% endif %}
            {%- if site.twitter_username -%}
            <a href="https://twitter.com/{{ site.twitter_username }}" title="Twitter"><i class="fab fa-twitter"></i></a>
            {% endif %}
            {%- if site.mastodon_username -%}
            <a rel="me" href="https://{{ site.mastodon_username  }}" title="Mastodon"><i class="fab fa-mastodon" style="font-size: 0.6em;"></i></a>
            {% endif %}
            {%- if site.medium_username -%}
            <a href="https://medium.com/@{{ site.medium_username }}" title="Medium"><i class="fab fa-medium"></i></a>
            {% endif %}
            {%- if site.quora_username -%}
            <a href="https://www.quora.com/profile/{{ site.quora_username }}" title="Quora"><i class="fab fa-quora"></i></a>
            {% endif %}
            {%- if site.blogger_url -%}
            <a href="{{ site.blogger_url }}" title="Blogger"><i class="fab fa-blogger-b"></i></a>
            {% endif %}
            {%- if site.work_url -%}
            <a href="{{ site.work_url }}" title="Work"><i class="fas fa-briefcase"></i></a>
            {% endif %}
            {%- if site.wikidata_id -%}
            <a href="https://www.wikidata.org/wiki/{{ site.wikidata_id }}" title="Wikidata"><i class="fas fa-barcode"></i></a>
            {% endif %}
            {%- if site.wikipedia_id -%}
            <a href="https://wikipedia.org/wiki/User:{{ site.wikipedia_id }}" title="Wikipedia"><i class="fab fa-wikipedia-w"></i></a>
            {% endif %}
            {%- if site.strava_userid -%}
            <a href="https://www.strava.com/athletes/{{ site.strava_userid }}" title="Strava"><i class="fab fa-strava"></i></a>
            {% endif %}
            {%- if site.keybase_username -%}
            <a href="https://keybase.io/{{ site.keybase_username }}" title="Keybase"><i class="fab fa-keybase"></i></a>
            {% endif %}
            {%- if site.gitlab_username -%}
            <a href="https://gitlab.com/{{ site.gitlab_username }}" title="GitLab"><i class="fab fa-gitlab" style="font-size: 0.6em;"></i></a>
            {% endif %}
            {%- if site.dblp_url -%}
            <a href="{{ site.dblp_url }}" title="DBLP"><i class="ai ai-dblp"></i></a>
            {% endif %}
            {%- if site.stackoverflow_id -%}
            <a href="https://stackoverflow.com/users/{{ site.stackoverflow_id }}" title="Stackoverflow"><i class="fab fa-stack-overflow"></i></a>
            {% endif %}
            {%- if site.kaggle_id -%}
            <a href="https://www.kaggle.com/{{ site.kaggle_id }}" title="Kaggle"><i class="fab fa-kaggle"></i></a>
            {% endif %}
            {%- if site.lastfm_id -%}
            <a href="https://www.last.fm/user/{{ site.lastfm_id }}" title="Last FM"><i class="fab fa-lastfm"></i></a>
            {% endif %}
            {%- if site.spotify_id -%}
            <a href="https://open.spotify.com/user/{{ site.spotify_id }}" title="Last FM"><i class="fab fa-spotify"></i></a>
            {% endif %}
            {%- if site.pinterest_id -%}
            <a href="https://www.pinterest.com/{{ site.pinterest_id }}" title="Pinterest"><i class="fab fa-pinterest"></i></a>
            {% endif %}
            {%- if site.unsplash_id -%}
            <a href="https://unsplash.com/@{{ site.unsplash_id }}" title="Unsplash"><i class="fab fa-unsplash"></i></a>
            {% endif %}
            {%- if site.instagram_id -%}
            <a href="https://instagram.com/{{ site.instagram_id }}" title="Instagram"><i class="fab fa-instagram"></i></a>
            {% endif %}
            {%- if site.facebook_id -%}
            <a href="https://facebook.com/{{ site.facebook_id }}" title="Facebook"><i class="fab fa-facebook"></i></a>
            {% endif %}
            {%- if site.youtube_id -%}
            <a href="https://youtube.com/@{{ site.youtube_id }}" title="YouTube"><i class="fab fa-youtube"></i></a>
            {% endif %}
            {%- if site.discord_id -%}
            <a href="https://discord.com/users/{{ site.discord_id }}" title="Discord"><i class="fab fa-discord"></i></a>
            {% endif %}
            {%- if site.rss_icon -%}
            <a href="{{ site.baseurl }}/feed.xml" title="RSS Feed"><i class="fas fa-rss-square"></i></a>
            {% endif %}
            {%- if site.firefish_id -%}
            <a rel="me" href="https://{{ site.firefish_id }}" title="Firefish">
                <img src="https://joinfirefish.org/branding/wordmark.png" alt="Custom Icon" style="width: 36px; height: 36px;">
            </a>
            {% endif %}